*{
    height: 100%;
    width: 100%;
}
body{
    background-color:#405de6;
    display: flex;
    align-items: center;
    justify-content:center ; 
}


#container{
    height: 600px;
    width:400px;
    background-color: rgb(245, 245, 247);
   position: relative;
    border-radius: 20px; 
    overflow: hidden;
  

}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    opacity: 0.8;
}
#container i{
    color: rgb(237, 239, 241);
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 320px;
    margin-left: 150px;
    opacity: 0.8;
    transform: translate(-50% ,-50% )scale(0);
    transition: all ease 0.5s;
}